<h1>You have successfully added a definition</h1>

<form action='/'>
  <button type="submit" class="btn btn-success">Home</button>
</form>

<li><form action='/words/:id'>
  <button type="submit" class="btn btn-danger">Go to the Word you added</button>
</form></li>
