<h3>Here are the definitions for this word:</h3>

<ul>
  <% @words.word_definition.each() do |definitions| %>
    <li><a href="/definition/<%= definitions.id() %>"><%= definitions.definition() %></a></li>
  <% end %>
</ul>

<li><a href="/words/<%= @word.id%>/definition/new">Add a New Definition</a></li>
<li><a href="/">Return to Main Page</a></li>
