<h1>Add Words to your Dictionary</h1>

<p>Add a new Word here:</p>

<form action="/words" method="post">
  <label for="word">Word</label>
  <input id="word" name="word" type="text">
  <button type="submit">Add a Word</button>
</form>

<form action='/'>
  <button type="submit" class="btn btn-success">Home</button>
</form>
