<h3>Here are the definitions you added for this word:</h3>

<ul>
  <% @word_list.word_definition.each() do |definitions| %>
    <li><a href="/definition/<%= definitions.id() %>"><%= definitions.definition() %></a></li>
  <% end %>
</ul>

<li><a href="/words/<%= @word_list.id %>/definition/new">Add a New Definition</a></li>
<li><a href="/words">Return to Main Page</a></li>
